.btn-blue {
	background-color: #6D71DD;
	color: #343F3E;
	padding: 15px 20px;
	border-radius: 8px;
	text-align: center;
	font-weight: bold;
	font-family:'Raleway', sans-serif;
	display: block;
	margin: auto;
	width:215px;

}

